pysftp==0.2.9
Flask==2.0.2
awscli-cwlogs>=1.4,<1.5
pycurl==7.44.1
boto3==1.20.21
click<8.0,>=7.0

# higher version causes build to fail on PaaS due to lack of Rust
# see https://github.com/pyca/cryptography/issues/5810
cryptography==3.3.2 # pyup: <3.4

# nb: when bumping this, check to see if celery sqs deps have bumped here: https://github.com/celery/celery/blob/master/requirements/extras/sqs.txt
# celery[sqs] pins pycurl to an old version so we are just installing sqs deps ourselves.
celery==5.0.5

git+https://github.com/alphagov/notifications-utils.git@49.0.0#egg=notifications-utils==49.0.0
