pyftpdlib==1.5.0
pysftp==0.2.9
wheel==0.29.0

git+https://github.com/alphagov/notifications-python-client.git@1.0.0#egg=notifications-python-client==1.0.0


git+https://github.com/alphagov/notifications-utils.git@5.2.8#egg=notifications-utils==5.2.8